body{margin: 0; background: #EFEFEF;}
ul,ol{list-style: none; margin: 0; padding: 0;}
a{text-decoration: none; color: inherit;}
*{margin: 0;padding: 0;}
h1, h2, h3, h4, h5, h6{font-weight: normal;}
.icon {width: 1em; height: 1em; vertical-align: -0.15em; fill: currentColor; overflow: hidden; }
hr{height: 0; border: none; border-top: 1px solid #DEDEDE;}
.clearfix::after{content: ''; display:block; clear: both;}
[data-x].offset{transform: translateY(100px); }
[data-x]{transform: translateY(0); transition: all .5s; }
.topNavBar{padding: 20px 0px 20px 0px; position: fixed; top: 0; left: 0; width: 100%; transition: all .5s; color: #B7B7B7;}
.topNavBar.sticky{background: white; padding: 10px 0; z-index: 1; box-shadow: 0 0 10px rgba(0,0,0,0.25); color: #3D4451;}
.topNavBar-inner{padding: 0 16px;}
.topNavBar .logo{font-size: 24px; font-family: "Arial Black"; padding-top: 3px; padding-bottom: 4px;}
.topNavBar .logo .RS {margin-right: 4px; color: #E6686A; }
.topNavBar .logo .card {color: #9A9DA2; }
.banner{height: 515px; background-image: url(./image/RS-cover.jpg); background-position: center center; background-size: cover; }
.banner .mask{height: 515px; background-color: rgba(0,0,0,0.6); }
.topNavBar>a {float: left; }
.topNavBar nav {float: right; padding-top: 5px; }
.topNavBar nav > ul > li {float: left; margin-left: 17px; margin-right: 17px; position: relative;}
.topNavBar nav > ul > li > a {font-size: 12px; color: inherit; font-width: bold; border-top: 3px solid transparent;
	border-bottom: 3px solid transparent; padding-top: 5px; padding-bottom: 5px; display: block; position: relative;}
.topNavBar nav > ul > li.active > a::after,
.topNavBar nav > ul > li.highLight > a::after
 {content: ''; display: block; position: absolute; top: 100%; left: 0; width: 100%; background: #E06567; height: 3px; animation: menuSlide .3s; }
@keyframes menuSlide{0%{width: 0; } 100%{width: 100%; } }
.topNavBar .submenu{display: none; position: absolute; right: 0; top: 100%; background: white; color: #3D4451; box-shadow: 0 0 5px rgba(0,0,0,0.5); }
.topNavBar li.active> .submenu{display: block; animation: submenuSlide .3s; }
@keyframes submenuSlide{0%{margin-right: 100%; } 100%{margin-left: 0%; } }
.topNavBar .submenu > li{white-space: nowrap; padding: 5px 10px; }
.userCard{max-width: 940px; margin-left: auto; margin-right: auto; background: #FFFFFF; box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.2); }
.userCard .pictureAndText{padding: 50px; }
.userCard .picture{float: left; }
.userCard .welcom{background: #E6686A; color: white; display: inline-block; padding: 4px 16px;
	line-height: 22px; position: relative; margin-bottom: 10px; }
.userCard .welcom .triangle{display: block; border: 10px solid transparent; width: 0; border-left-color: #E6686A;
	border-top-width: 0; position: absolute; left: 4px; top: 100%; }
.userCard .text{float: left; margin-left: 65px; width: 470px; }
.userCard .text h1{margin-top: 18px; }
.userCard .text hr{margin: 20px 0; }
.userCard dl dt, .userCard dl dd{float: left; padding: 5px 0; }
.userCard dl dt{width: 30%; font-weight: bold; }
.userCard dl dd{width: 70%; color: #9da0a7; }
.userCard > footer.media{background: #E6686A; text-align: center; } .userCard > footer.media > a{display: inline-block; width: 46px; line-height: 30px;
	padding: 8px 0; border-radius:50%; margin: 15px 0; }
.userCard > footer.media > a:hover{background: #CF5D5F; }
.userCard svg{width: 30px; height: 30px; fill: white; vertical-align: top; }
body > main{margin-top: -400px; }
body > main .downloadResume-wrapper{text-align: center; }
body > main .downloadResume{font-size: 14px; color: #3D4451; font-weight: bold; padding: 21px 55px;
	display: inline-block; border: 1px solid #CDCFD1; background: #EFEFEF; border-radius: 3px; margin: 32px 0; transition: box-shadow 0.2; }
body > main .downloadResume:hover{box-shadow: 0px 4px 12px 0px rgba(0,0,0,0.2); }
body > main .selfIntroduction{max-width: 940px; margin-left: auto; margin-right: auto; text-align: center;
	font-family: kai; line-height: 1.8; font-size: 18px; }
body > section.skills, 
body > section.portfolio{max-width: 940px; margin-left: auto; margin-right: auto; margin-top: 60px; }
body > section.skills > h2, 
body > section.portfolio > h2,
body > section.message > h2{text-align: center; color: #3D4451; font-size: 34px;
	line-height: 1.2; font-weight: 600px; }
body > section.skills > ol{background: white; box-shadow: box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.2); padding: 42px 50px 10px; margin-top: 30px; }
section.skills > ol > li{float: left; width: 48%; box-sizing: border-box; }
section.skills > ol > li:nth-child(even) {float: right; }
.skills > ol .progressBar{background: #FAE1E1; 
	height: 5px; border-radius: 2px; 
	margin: 4px 0 40px; overflow: hidden;}
.skills > ol .progressBar .progress{background: #E6686A; 
	height: 100%; width: 70%; border-radius: 2px; 
	transform: translateX(0); transition: all .5s;}
section.skills.offset .progressBar{
	transform: translateX(-100%);
}
section.portfolio{text-align: center; margin-bottom: 100px; max-width: 720px; }
section.portfolio .swiper-container {width: 800px; height: 600px; }
section.portfolio h2{margin-bottom: 36px;}
section.portfolio .swiper-button-prev, section.portfolio .swiper-button-next{background-color: white; width: 64px; height: 64px; right: 100%; left: auto; border-radius: 50%; }
section.portfolio .swiper-button-next{left: 100%; right: auto; }


section.message > ol{
	max-width: 700px;
	margin: 0 auto;
	border-top: 1px solid #DDD;
}
section.message > ol > li{
	padding: 16px;
	border-bottom: 1px solid #DDD;
}